*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100%;
    height: 60vh;
    background-image: url(images/team.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 30px 30px;
}
.icon-1{
    margin-right: 30px;
}
.icon-1 img{
    width: 50px;
    border: 2px solid #fff;
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.icon-1 img:hover{
    transform: scale(1.2);
}
#icon{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}
#icon::before{
    width: 40px;
    height: 5px;
    background: #fff;
    position: absolute;
    transform: translateY(-10px);
    content: '';
}
#icon::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 5px;
    background: #fff;
    box-shadow: 0 10px 0 #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #111b2f;
    background-image: url(images/Vector.png);
    transition: .5s;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}
nav .phone{
    width: 50px;
    margin-left: 20px;
    border: 4px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
nav .phone:hover{
    background: #ff00dd;
    transform: scale(1.2);
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    color: #fff;
    font-size: 50px;
}
.text h3{
    font-size: 25px;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn{
    margin-top: 40px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 30px 60px;
}
.wrapper{
    text-align: center;
    padding: 80px 10%;
    width: 100%;
    background-image: url(images/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper img{
    width: 100%;
}
.wrapper-img{
    margin-top: 80px;
}
.wrapper h1{
    text-transform: uppercase;
    position: relative;
    font-size: 30px;
    display: inline-block;
}
.wrapper hr{
    width: 250px;
    margin: 20px auto;
    background: #de774f;
    height: 4px;
    border: none;
}
.slider-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    margin-top: -120px;
}
.col-1 h3{
    color: #fff;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.hero p{
    color: #fff;
}
.line{
    width: 2px;
    height: 20px;
    background: #fff;
}
.ptn{
    color: #fff;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 40px;
}
#menu{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    z-index: 100;
    background: #111b2f;
    background-image: url(images/Vector.png);
    transition: .3s;
}
#menu ul{
    margin-top: 120px;
    text-align: center;
}
#menu ul li{
    list-style: none;
    padding: 25px 0;
}
#menu ul li a{
    font-size: 1.1rem;
    color: #fff;
    padding: 30px 60px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s linear;
}
#menu ul li a:hover{
    color: #de774f;
}
.active#icon::before{
    transform: rotate(-45deg);
}
.active#icon::after{
    transform: rotate(45deg);
    box-shadow: none;
}
.active#menu{
    left: 0px;
}

#menu{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    z-index: 100;
    transition: .3s;
}
#menu ul{
    margin-top: 120px;
}
#menu ul li{
    list-style: none;
    padding: 25px 0;
}
#menu ul li a{
    font-size: 1.1rem;
    color: #fff;
    padding: 30px 60px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s linear;
}
#menu ul li a:hover{
    color: #de774f;
}
.active#icon::before{
    transform: rotate(-45deg);
}
.active#icon::after{
    transform: rotate(45deg);
    box-shadow: none;
}
.active#menu{
    left: 0px;
}
.section-img{
    width: 100%;
    height: 30vh;
    background-color: #111b2f;
    background-image: url(images/Vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.rakib{
    position: absolute;
    top: 40%;
    color: #fff;
    left: 10%;
    font-size: 40px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h2{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.text p{
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
}
hr{
    width: 250px;
    margin: 20px auto;
    background: #de774f;
    height: 4px;
    border: none;
}
.history{
    width: 100%;
    padding: 40px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2 img{
    width: 100%;
}
.col-1{
    flex-basis: 40%;
}
.col-2{
    flex-basis: 58%;
}
.content p{
    margin-top: 40px;
    font-size: 16px;
}
.ctn{
    margin-top: 40px;
    display: inline-block;
    border: 2px solid #333;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 60px;
    cursor: pointer;
}
.content h2{
    font-size: 40px;
    position: relative;
}
.content h2::before{
    position: absolute;
    content: '';
    width: 200px;
    height: 3px;
    background: #de774f;
    bottom: -10px;
}
.track h1{
    text-transform: uppercase;
    font-size: 40px;
}
.col-3{
    flex-basis: 58%;
}
.col-3 img{
    width: 100%;
}
.col-4{
    flex-basis: 40%;
}
.team{
    width: 100%;
    text-align: center;
    padding: 40px 10%;
}
.team-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
    margin-top: 30px;
}
.team-text img{
    width: 100%;
}
.team h1{
    font-size: 40px;
    text-transform: uppercase;
}
.atn{
    margin-top: 30px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #333;
    padding: 20px 60px;
    color: #333;
    cursor: pointer;
    transition: .5s;
}
.dtn{
    margin-top: 20px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    padding: 20px 60px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.track{
    width: 100%;
    text-align: center;
    padding: 40px 10%;
}
.track-box{
    width: 100%;
    background: url(images/service-img-3.png);
    padding: 250px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.track-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: -200px;
    text-align: left;
}
.track-text h3{
    color: #fff;
}
.track-text h4{
    color: #fff;
    margin-top: 10px;
}
.atn{
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.footer-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: #fff;
    padding: 40px 40px;
    border-radius: 5px;
}
.footer-img h3{
    font-size: 30px;
}
.footer-img p{
    font-size: 15px;
    margin-top: 20px;
}
.footer-end{
    width: 100%;
    background: #111b2f;
    background-image: url(images/Vector.png);
    height: 40vh;
}
.footer-end ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 10%;
}
.footer-end ul li{
    list-style: none;
    color: #555;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;
    color: #fff;
    position: relative;
}
.footer-end ul li::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: -10px;
    transition: transform .3s linear;
    transform: scaleX(0);
    transform-origin: right;
}
.footer-end ul li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.footer-end-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-end-text a{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.footer-end-text a::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: -10px;
    transition: transform .3s linear;
    transform: scaleX(0);
    transform-origin: right;
}
.footer-end-text a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.footer-end h3{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    color: #fff;
}

.img-slider{
    width: 100%;
    height: 50vh;
    margin-top: 80px;
    background: url(images/service-img-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


@media(max-width:770px){
    .text p{
        font-size: 12px;
    }
    .history{
        flex-direction: column;
    }
    .col-2{
        margin-top: 30px;
    }
    nav ul li a{
        display: none;
    }
    nav img{
        display: none;
    }
    .text h2{
        font-size: 20px;
    }
    .text p{
        font-size: 12px;
    }
    .team h1{
        font-size: 30px;
    }
    
    .footer-img{
        padding: 20px 20px;
    }
    .footer-img p{
        font-size: 12px;
    }
    .footer-img h3{
        font-size: 20px;
    }
    .atn{
        padding: 10px 30px;
        font-size: 12px;
    }
    .footer-lst ul li{
        flex-direction: column;
    }
    .skylark ul{
        flex-direction: column;
    }
    .footer-end ul{
        flex-direction: column;
    }
    .footer-end-text{
        flex-direction: column;
    }
    .footer-end{
        width: 100%;
        height: 80vh;
    }
    .track-text{
        flex-direction: column;
        margin-top: -20em;
    }
    .track h1{
        font-size: 25px;
    }
    .dtn{
        padding: 10px 40px;
    }
    #menu ul li{
        padding: 13px 0;
    }
}